.DS_Store
.ipynb_checkpoints
node_modules
/.bazelrc
/.tf_configure.bazelrc
/bazel-*
/bazel_pip
/tools/python_bin_path.sh
/tensorflow/tools/git/gen
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
.vscode/
cmake_build/
.idea/**
/build/
[Bb]uild/
/tensorflow/core/util/version_info.cc
/tensorflow/python/framework/fast_tensor_util.cpp
Pods
Podfile.lock
*.pbxproj
*.xcworkspacedata
/tensorflow/contrib/lite/downloads/**
/tensorflow/contrib/lite/gen/**
/tensorflow/contrib/lite/examples/ios/simple/data/*.txt
/tensorflow/contrib/lite/examples/ios/simple/data/*.tflite
xcuserdata/**
/api_init_files_list.txt

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild
Encore-ios/Encore.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Encore-ios/Encore.xcworkspace/xcuserdata/fdoumet.xcuserdatad/UserInterfaceState.xcuserstate
Encore-ios/Encore/Encore.xcodeproj/xcuserdata/fdoumet.xcuserdatad/xcschemes/xcschememanagement.plist
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/.ninja_deps
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/.ninja_log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeCache.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CompilerIdC/CMakeCCompilerId.c
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CompilerIdC/CMakeCCompilerId.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/3.6.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/CMakeError.log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/CMakeOutput.log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/TargetDirectories.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/cmake.check_cache
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.c
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.cxx
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/android_gradle_build.json
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/android_gradle_build_mini.json
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/build.ninja
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/cmake_build_command.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/cmake_build_output.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/cmake_install.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/arm64-v8a/rules.ninja
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/.ninja_deps
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/.ninja_log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeCache.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CompilerIdC/CMakeCCompilerId.c
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CompilerIdC/CMakeCCompilerId.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/CMakeError.log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/CMakeOutput.log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/TargetDirectories.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/cmake.check_cache
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.c
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.cxx
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/android_gradle_build.json
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/android_gradle_build_mini.json
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/build.ninja
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/cmake_build_command.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/cmake_build_output.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/cmake_install.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/debug/armeabi-v7a/rules.ninja
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/.ninja_deps
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/.ninja_log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeCache.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/3.6.0-rc2/CompilerIdC/CMakeCCompilerId.c
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/3.6.0-rc2/CompilerIdC/CMakeCCompilerId.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/3.6.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/3.6.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/CMakeError.log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/CMakeOutput.log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/TargetDirectories.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/cmake.check_cache
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/feature_tests.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/feature_tests.c
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/feature_tests.cxx
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/c/c_api.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/c/checkpoint_reader.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/c/test_op.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/c/tf_status_helper.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/contrib/android/jni/run_stats_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/exception_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/graph_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/operation_builder_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/operation_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/saved_model_bundle_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/session_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/tensor_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/tensorflow_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/android_gradle_build.json
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/android_gradle_build_mini.json
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/build.ninja
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/cmake_build_command.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/cmake_build_output.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/cmake_install.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/arm64-v8a/rules.ninja
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/.ninja_deps
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/.ninja_log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeCache.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CompilerIdC/CMakeCCompilerId.c
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CompilerIdC/CMakeCCompilerId.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/3.6.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/CMakeError.log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/CMakeOutput.log
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/TargetDirectories.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/cmake.check_cache
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.bin
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.c
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.cxx
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/c/c_api.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/c/checkpoint_reader.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/c/test_op.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/c/tf_status_helper.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/contrib/android/jni/run_stats_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/exception_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/graph_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/operation_builder_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/operation_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/saved_model_bundle_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/session_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/tensor_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/CMakeFiles/tensorflow_inference.dir/Users/fdoumet/Repositories/tensorflow/tensorflow/java/src/main/native/tensorflow_jni.cc.o
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/android_gradle_build.json
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/android_gradle_build_mini.json
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/build.ninja
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/cmake_build_command.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/cmake_build_output.txt
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/cmake_install.cmake
tensorflow/contrib/android/cmake/.externalNativeBuild/cmake/release/armeabi-v7a/rules.ninja
tensorflow/contrib/android/cmake/gradle/wrapper/gradle-wrapper.jar
tensorflow/contrib/android/cmake/gradle/wrapper/gradle-wrapper.properties
tensorflow/contrib/android/cmake/gradlew
tensorflow/contrib/android/cmake/gradlew.bat
tensorflow/contrib/makefile/build-aux/config.h
tensorflow/contrib/makefile/build-aux/stamp-h1
tensorflow/contrib/makefile/config.log
tensorflow/contrib/makefile/config.status
tensorflow/contrib/makefile/fused-src/gtest/.deps/test_fused_gtest_test-gtest-all.Po
tensorflow/contrib/makefile/fused-src/gtest/.deps/test_fused_gtest_test-gtest_main.Po
tensorflow/contrib/makefile/libtool
tensorflow/contrib/makefile/samples/.deps/sample1.Plo
tensorflow/contrib/makefile/samples/.deps/sample10_unittest.Po
tensorflow/contrib/makefile/samples/.deps/sample1_unittest.Po
tensorflow/contrib/makefile/samples/.deps/sample2.Plo
tensorflow/contrib/makefile/samples/.deps/sample4.Plo
tensorflow/contrib/makefile/samples/.deps/test_fused_gtest_test-sample1.Po
tensorflow/contrib/makefile/samples/.deps/test_fused_gtest_test-sample1_unittest.Po
tensorflow/contrib/makefile/scripts/gtest-config
tensorflow/contrib/makefile/src/.deps/gtest-all.Plo
tensorflow/contrib/makefile/src/.deps/gtest_main.Plo
tensorflow/contrib/makefile/test/.deps/gtest_all_test.Po
tensorflow/examples/android/Tensorflow-Android-Inference/Tensorflow-Android-Inference.aar
tensorflow/examples/android/Tensorflow-Android-Inference/build.gradle
tensorflow/examples/android/assets/coco_labels_list.txt
tensorflow/examples/android/assets/conv_actions_frozen.pb
tensorflow/examples/android/assets/conv_actions_labels.txt
tensorflow/examples/android/assets/imagenet_comp_graph_label_strings.txt
tensorflow/examples/android/assets/ssd_mobilenet_v1_android_export.pb
tensorflow/examples/android/assets/stylize_quantized.pb
tensorflow/examples/android/assets/tensorflow_inception_graph.pb
tensorflow/examples/android/assets/thumbnails/style0.jpg
tensorflow/examples/android/assets/thumbnails/style1.jpg
tensorflow/examples/android/assets/thumbnails/style10.jpg
tensorflow/examples/android/assets/thumbnails/style11.jpg
tensorflow/examples/android/assets/thumbnails/style12.jpg
tensorflow/examples/android/assets/thumbnails/style13.jpg
tensorflow/examples/android/assets/thumbnails/style14.jpg
tensorflow/examples/android/assets/thumbnails/style15.jpg
tensorflow/examples/android/assets/thumbnails/style16.jpg
tensorflow/examples/android/assets/thumbnails/style17.jpg
tensorflow/examples/android/assets/thumbnails/style18.jpg
tensorflow/examples/android/assets/thumbnails/style19.jpg
tensorflow/examples/android/assets/thumbnails/style2.jpg
tensorflow/examples/android/assets/thumbnails/style20.jpg
tensorflow/examples/android/assets/thumbnails/style21.jpg
tensorflow/examples/android/assets/thumbnails/style22.jpg
tensorflow/examples/android/assets/thumbnails/style23.jpg
tensorflow/examples/android/assets/thumbnails/style24.jpg
tensorflow/examples/android/assets/thumbnails/style25.jpg
tensorflow/examples/android/assets/thumbnails/style3.jpg
tensorflow/examples/android/assets/thumbnails/style4.jpg
tensorflow/examples/android/assets/thumbnails/style5.jpg
tensorflow/examples/android/assets/thumbnails/style6.jpg
tensorflow/examples/android/assets/thumbnails/style7.jpg
tensorflow/examples/android/assets/thumbnails/style8.jpg
tensorflow/examples/android/assets/thumbnails/style9.jpg
tensorflow/examples/android/settings.gradle
tensorflow/examples/ios/inception5h/LICENSE
tensorflow/examples/ios/simple/tf_simple_example.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
